<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crud Vue</title>
	<!-- ALL CSS FILES  -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>

	<div id="root">
		<div class="wrap-table">

			<div class="card w-50">
				<div class="card-body">
					<h2>Add New User</h2>
					<hr>

					<div class="form-group">
					  <label for=""></label>
					  <div class="form-group">
						<input v-model="user.name" class="form-control" type="text" placeholder="name">
					  </div>
					  <div class="form-group">
						<input v-model="user.email" class="form-control" type="text" placeholder="E-mail">
					  </div>
					  <div class="form-group">
						<input v-model="user.cell" class="form-control" type="text" placeholder="Cell">
					  </div>
					  <div class="form-group">
						<input ref="file" type="file">
					  </div>
					  <div class="form-group">
						<input @click="addNewUser" class=" btn btn-primary" type="submit" value="Add">
					  </div>
					</div> 

				</div>
			</div>


			<br>
			<br>
			<div class="card shadow">
				<div class="card-body">
					<h2>All Users</h2>
					<input v-model="search" @keyup="searchUser" class="float-right" type="text" placeholder="Search user">
					<br>
					<br>
					<table class="table table-striped ">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Cell</th>
								<th>Photo</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>

							<tr v-for="(user, i) in users">
								<td>{{ i+1 }}</td>
								<td>{{ user.name }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.cell }}</td>
								<td><img :src="'photos/users/'  + user.photo" alt=""></td>
								<td>
									<a @click="showSingleUser(user.id)" class="btn btn-sm btn-info" data-toggle="modal" href="#single_user">View</a>
									<a class="btn btn-sm btn-warning" href="#">Edit</a>
									<a @click="deleteUser (user.id, $event)" class="btn btn-sm btn-danger" href="#">Delete</a>
								</td>
							</tr>
							
	
						</tbody>
					</table>
				</div>
			</div>
		</div>
			<!-- data show modal -->

			<div id="single_user" class="modal fade ">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div style="background-color: #15384B;" class="modal-body text-white">
							<img style="width: 200px; height:200px; border:5px solid #ffff; border-radius:50%; display:block; margin:auto;;" class="shadow" :src="'photos/users/' + single_user.photo" alt="">
							<h2 class="text-center">{{single_user.name}}</h2>
							<table style="background-color: #2E092B;" class="table table-striped text-white">
								<tr>
									<td>Name</td>
									<td>{{single_user.name}}</td>
								</tr>
								<tr>
									<td>E-mail</td>
									<td>{{single_user.email}}</td>
								</tr>
								<tr>
									<td>Cell</td>
									<td>{{single_user.cell}}</td>
								</tr>
								
							</table>
						</div>
					</div>
				</div>
			</div>
	
	</div>


	


			



	<!-- JS FILES  -->
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>


	<!-- vue js load -->
	<script src="assets/js/axios.min.js"></script>
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/vue-router.js"></script>


	<script>

		const root = new Vue({
			el: '#root',
			data:{
				users: [],
				user: {
					name: '',
					email: '',
					cell: '',
					photo: ''
				},
				single_user: {
					name: '',
					email: '',
					cell: '',
					photo: ''
				},
				search: ''
			},
			methods: {
				//get all user
				getAllUsers: function(){
					axios.get('inc/user.php?action=read').then(function (response){
						root.users = response.data;	
					});
				},
				// add new user
				addNewUser: function(){
					
					if(root.user.name == '' || root.user.email == '' ){
						alert('All fileds are required');
					}else{
						

						this.user.photo = root.$refs.file.files[0];

						let userData = new FormData();

						userData.append('name', this.user.name );
						userData.append('email', this.user.email );
						userData.append('cell', this.user.cell );
						userData.append('photo', this.user.photo );



						axios.post('inc/user.php?action=create', userData, {
							header: {
								'content-type': 'multipart/form-data'
							} 
						}).then(function(response){

							console.log(response.data);

							root.user.name  = null;
							root.user.email  = null;
							root.user.cell  = null;

							root.getAllUsers();
						});

					}


				},
				//delete user data
				deleteUser: function(id, event){
					
					event.preventDefault();
					let con =  confirm('Are You Sure?');

					
					if(con){
						axios.get('inc/user.php?action=delete&id=' + id).then(function(response){
							console.log(response.data);
							root.getAllUsers();
						});

					}else{
						alert('Your data safe');
					}




				},

				//show single user
				showSingleUser: function(id){
					axios.get('inc/user.php?action=single&id=' + id).then(function(response){
						console.log(response.data);

						root.single_user.name = response.data.name;
						root.single_user.email = response.data.email;
						root.single_user.cell = response.data.cell;
						root.single_user.photo = response.data.photo;
					});
				},

			//data search
			searchUser: function(){
				
				let search_txt = this.search;
				axios.get('inc/user.php?action=search&s=' + search_txt ).then(function(response){
					root.users = response.data;
				});

			},





			},

			


			created: function(){
				this.getAllUsers();
			} 

			


		});



	</script>
	 
</body>
</html>